Contador_1/db/
Contador_1/greybox_tmp/
Contador_1/incremental_db/
Contador_1/output_files/
Contador_1/simulation/

Contador_2/db/
Contador_2/greybox_tmp/
Contador_2/incremental_db/
Contador_2/output_files/
Contador_2/simulation/

